.menu-list {
    list-style-type: none;
    display:flex;
    justify-content:space-between;
}
.menu-item-active{
    text-decoration: underline;
    cursor: pointer;
}
.menu-item{
    cursor: pointer;
}
.input-container {
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.btn {
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
.res-eq {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
}
.result {
    display: none;
}